.form-container .card {
    min-width: 450px;
}
.form-container .card form {
    margin-top: 2rem;
}
.form-container .card .field {
    margin-bottom: 1.5rem;
}
/* @media screen and (max-width: 960px) {
    .form-container .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-container .card {
        width: 100%;
        min-width: 0;
    }
} */